

.f2 {
width: 30%;
margin: 20px auto;
text-align: left;
padding: 30px;
 border: 3px solid #f1f1f1;
border-radius: 3px;
}
.f1 {
width: 90%;
margin: 20px auto;
text-align: left;
padding: 30px;
 border: 3px solid #f1f1f1;
border-radius: 3px;
}


input {
margin: 20px auto;

padding: 15px;
 border: 3px solid #f1f1f1;
border-radius: 3px;
}

.input-group {
margin: 10px 0px 10px 0px;
font-size: 20px;
}
.input-group label {
display: block;
text-align: left;
margin: 15px;
}
.btn {
float: right;
padding: 5px;
font-size: 15px;

color: white;
background:#4CAF50 ;
border:none;
border-radius: 3px;
}


.msg {
margin: 10px auto;
padding: 5px;
border-radius: 3px;
color: 6A5ACD;
background:FFFACD;
border: 1px solid #3c763d;
width: 25%;
text-align:center;
} 



.mark {
	font-size: 15px;
	font-family: arial narrow;
	
}

.att {
	width: 50%;
	 border: 1px solid #000;
border-collapse: collapse;
}
#idFYNext {
	float:center;
padding: 5px;
font-size: 20px;
color: white;
background:green ;
border:none;
border-radius: 5px;
}
#SYPrevious {
	float:center;
padding: 5px;
font-size: 20px;
color: white;
background:green ;
border:none;
border-radius: 5px;
}
#SYNext {
float:center;
padding: 5px;
font-size: 20px;
color: white;
background:green ;
border:none;
border-radius: 5px;	
}

#idTYPrevious {
	float:center;
padding: 5px;
font-size: 20px;
color: white;
background:green ;
border:none;
border-radius: 5px;	
}

.cer {
	font-family: arial;
	font-size: 20px;
	float: center;
}

.dropdown{
    width: 100px;
}