table{
width: 90%;
margin: 30px auto;
border-collapse: collapse;
text-align: left;
}
th{
	background: #FAEBD7;
	font-size: 15px;
}
th,td{
  border: 1px solid #000;
height: 30px;
padding:2px;
}
tr:hover {
background:#F5F5F5;
}
.btnedit {
float:center;
padding: 5px;
font-size: 15px;
color: white;
background:green ;
border:none;
border-radius: 5px;
}
.del_btn {
color:green;
}
